<!DOCTYPE html>
<html lang="en">
{{>baseHead customTitle='สร้างโพสต์สำเร็จ | ' }}
<body>
    {{>siteHeader}}
    <section class="section">
      <div class="container">
        <h2>สร้างโพสต์สำเร็จ</h2>
        <p>โพสต์จะปรากฏที่หน้าแรก ของคุณ!!</p>
        <a class="button" href="/">กลับหน้าแรก</a>
      </div>
    </section>
    {{>siteFooter}}
</body>
</html>